body{
    background-image: url(../Images/Platform.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

label {
    color: white;
    text-align: left;
}

a:hover {
    color: #F75B02;
}

h1#title{
    font-size: 90pt;
    background: -webkit-linear-gradient(blue, gold, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    -webkit-text-stroke: 2px black;
}

#confirmPasswordGroup {
    display: none;
}

#loginCard {
    background: transparent;
    width: 75%;
}

#loginTab {
    color: black;
}

#loginTab.active {
    background-color: #F75B02;
    border-color: black;
}

#signUpTab {
    color: black;
}

#signUpTab.active {
    background-color: #F75B02;
    border-color: black;
}

#submit {
    background-color: #F75B02;
}