body{
    background-image: url("Saturn_1.jpg");
    background-size: 2000px;
}

label {
    text-align: left;
}

#title{
    font-size: 90pt;
    background: -webkit-linear-gradient(blue, yellow, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

#confirmPasswordGroup {
    display: none;
}

/* #loginCard {
    background-color: #36393F;
} */

/* #loginTab {
    background-color: #358DB4
    
} */
